<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            {% load static %}
            <img src="{% static 'img/logo.webp' %}" alt="Vetorial" width="88" height="88">

            

            <!-- <strong>Vetorial</strong> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Menu à esquerda (ao lado da logo) -->
            <ul class="navbar-nav me-auto ms-lg-4">
                <!-- 1º Botão: Abrir Empresa -->
                <li class="nav-item me-lg-2">
                    <a class="nav-link fs-6 px-3" href="/abrir-empresa/">Abrir Empresa</a>
                </li>
            

                <!-- 2º Botão: Trocar Contador -->
                <li class="nav-item me-lg-2">
                    <a class="nav-link fs-6 px-3" href="/trocar-contador/">Trocar Contador</a>
                </li>

                <!-- Botão Planos -->
                 <li class="nav-item me-lg-2">
                    <a class="nav-link fs-6 px-3" href="/services/planos/">Planos</a>
                 </li>

                <!-- 3º Menu: Serviços -->
                <li class="nav-item dropdown me-lg-2">
                    <a class="nav-link dropdown-toggle fs-6 px-3" href="#" id="navbarServicos" role="button" 
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Serviços
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarServicos">
                        <li><a class="dropdown-item" href="/abrir-empresa/">Abrir Empresa</a></li>
                        <li><a class="dropdown-item" href="/trocar-contador/">Trocar de Contador</a></li>
                        <li><a class="dropdown-item" href="/endereco-virtual/">Endereço Virtual</a></li>
                        <li><a class="dropdown-item" href="/certificado-digital/">Certificado Digital</a></li>
                        <li><a class="dropdown-item" href="/emissor-nota-fiscal/">Emissor de Nota Fiscal</a></li>
                        <li><a class="dropdown-item" href="/contabilidade-online/">Contabilidade Online</a></li>
                        <li><a class="dropdown-item" href="/assessoria/">Assessoria Contábil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item fw-bold text-primary" href="/services/">Todos os Serviços</a></li>
                    </ul>
                </li>

                <!-- 4º Menu: Segmentos -->
                <li class="nav-item dropdown me-lg-2">
                    <a class="nav-link dropdown-toggle fs-6 px-3" href="#" id="navbarSegmentos" role="button" 
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Segmentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarSegmentos">
                        <li><a class="dropdown-item" href="/segmentos/servicos/">Serviços</a></li>
                        <li><a class="dropdown-item" href="/segmentos/comercio/">Comércio</a></li>
                        <li><a class="dropdown-item" href="/segmentos/saude/">Saúde</a></li>
                        <li><a class="dropdown-item" href="/segmentos/direito/">Direito</a></li>
                        <li><a class="dropdown-item" href="/segmentos/engenharia/">Engenharia</a></li>
                        <li><a class="dropdown-item" href="/segmentos/agronegocio/">Agronegócio</a></li>
                        <li><a class="dropdown-item" href="/segmentos/turismo/">Turismo</a></li>
                        <li><a class="dropdown-item" href="/segmentos/tecnologia/">Profissionais de Tecnologia</a></li>
                        <li><a class="dropdown-item" href="/segmentos/outros/">Demais categorias atendidas</a></li>
                    </ul>
                </li>

                <!-- 5º Menu: Conteúdos -->
                <li class="nav-item dropdown me-lg-2">
                    <a class="nav-link dropdown-toggle fs-6 px-3" href="#" id="navbarConteudos" role="button" 
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Conteúdos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarConteudos">
                        <li><a class="dropdown-item" href="{% url 'blog:post_list' %}">Blog</a></li>
                        <li><a class="dropdown-item" href="/conteudos/ebooks/">E-books</a></li>
                        <li><a class="dropdown-item" href="/conteudos/educacao/">Educação</a></li>
                        <li><a class="dropdown-item" href="{% url 'calculadora_clt_pj' %}">Calculadora CLT vs. PJ</a></li>
                        <li><a class="dropdown-item" href="{% url 'services:consulta_cnaes' %}">Consultar CNAEs</a></li>
                        <li><a class="dropdown-item" href="/conteudos/regime-tributario/">Regime Tributário</a></li>
                    </ul>
                </li>
            </ul>
            
            <!-- Menu à direita -->
            <ul class="navbar-nav ms-auto align-items-lg-center">
                {% if user.is_authenticated %}
                    <!-- Usuário Logado -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarUserDropdown" role="button" 
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <span class="fw-semibold">Olá, {{ user.first_name|default:user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'users:area_cliente' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                                    </svg>
                                    Área do Cliente
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'users:pendencias' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zM8 4a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm1 8H7v-1h2v1z"/>
                                    </svg>
                                    Certidões Negativas
                                    {% if has_certidao_indisponivel %}
                                        <span class="badge bg-danger ms-2" aria-label="pendência crítica">!</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'support:dashboard_cliente' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                        <path d="M2 2.5A1.5 1.5 0 0 1 3.5 1h9A1.5 1.5 0 0 1 14 2.5v11A1.5 1.5 0 0 1 12.5 15h-9A1.5 1.5 0 0 1 2 13.5v-11zM3.5 2a.5.5 0 0 0-.5.5V6h10V2.5a.5.5 0 0 0-.5-.5h-9zM3 7v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7H3z"/>
                                    </svg>
                                    Meus Chamados
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                    </svg>
                                    Meu Perfil
                                </a>
                            </li>
                            {% if user.is_staff %}
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="/admin/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                        <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                        <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319z"/>
                                    </svg>
                                    Administração
                                </a>
                            </li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item text-danger" href="{% url 'users:logout' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                    </svg>
                                    Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <!-- Usuário Não Logado -->
                    <li class="nav-item me-2">
                        <a class="btn btn-gradient-primary text-white px-4 py-2" href="{% url 'users:login' %}">
                            Login
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="btn btn-gradient-primary text-white px-4 py-2" href="{% url 'users:register' %}">
                            Cadastre-se
                        </a>
                    </li> -->
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
